# Personal notes
notes/


# Build results
build/
sdkconfig

# Caches
.cache

# Python libraries
components/generator/tools/

# Generator results
components/generator/include/*
components/generator/src/*
