# Personal notes
notes/

# Build results
build/
sdkconfig
dependencies.lock
managed_components/

# Caches
.cache

# Python libraries
components/generator/tools/

# Memoria
memoria/

# Media files
media/

# compressed project
tfg.zip
